/* Topnav */
#topnav {
    position: absolute;
    height: 80px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    background: #863690;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}

/* logomark-big-star-white */
#nav-logomark {
    position: absolute;
    width: 50.75px;
    height: 50px;
    left: 21px;
    top: calc(50% - 50px/2);
    
    background: #FFFFFF;
}

/* Big Star Collectibles */
#nav-text {
    position: absolute;
    width: 355px;
    height: 36px;
    left: 88px;
    top: calc(50% - 36px/2);
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 125%;
    /* or 44px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}

/* Content */
#content {
    position: absolute;
    height: 674px;
    left: 0%;
    right: 0%;
    top: 80px;
    
    background: #FFFFFF;
}

/* Offer */
#offer-image {
    position: absolute;
    width: 879.09px;
    height: 317.54px;
    left: 201px;
    top: 66px;
}

/* Thank you for joining! */
#offer-text {
    position: absolute;
    width: 746px;
    height: 56px;
    left: calc(50% - 746px/2);
    bottom: 170px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 115%;
    /* or 25px */
    
    text-align: center;
    
    color: #4E0069;    
}

/* Claim Button */
#claim-button {
    position: absolute;
    width: 282px;
    height: 60px;
    left: calc(50% - 282px/2 - 1px);
    bottom: 58.46px;
    
    background: #F9C658;
    border-radius: 4px;
}

/* Footer */
#footer {
    position: absolute;
    height: 78px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    
    background: #312D32;
}

/* © Big Star Collectibles  */
#text-footer {
    position: absolute;
    width: 1150px;
    height: 58px;
    left: calc(50% - 1150px/2);
    bottom: 7px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
    /* or 15px */
    
    text-align: center;
    
    color: #C8C8C8;
}
